<!DOCTYPE html>
<html>
<head>
  <title>AyeNetwork</title>
  <!-- включення стилів, скриптів і т.д. -->
</head>
<body>

<nav>
  <ul>
    <li><%= link_to "Головна", root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to "Мій профіль", edit_user_registration_path %></li>
      <li><%= link_to "Вийти", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Увійти", new_user_session_path %></li>
      <li><%= link_to "Зареєструватися", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
